*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;

}

header.row.blanco {
    margin-top: 40px;
}
.cabecera{
    display: flex;
    height: 200px;
}
input.buscador{
    height: 30px;
    margin-top: 30px;
}
.logo img{
    width: 150px;
    height: 150px;
}
.log-reg ul{
    display: flex;
    justify-content: space-around;
}
.log-reg ul li{
    list-style-type: none;
}
.log-reg ul li a{
    color: gray;
    
}
.carrito{
    background-color: aquamarine;
}
.carrito a{
    width: 250px;
    background-color: burlywood;
    border: 2px solid 
}
.menu{
    padding: 20px;
}
nav{
    height: 50px;
}
.menu ul{
    overflow: hidden;
    background-color: black;
    height: 45px;
}
.menu ul li{
    float: left;
    width: 20%;
    list-style-type: none;
    margin-top: 10px;
}
.menu ul li a{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    
}
div.carrousel img{
    width: 100%;
    transition: 3s;
}
div.carrousel img:hover{
    filter:saturate(5);
    
}
aside.categorias{
    margin-top: 30px;
    padding-left: 30px;
}
aside.categorias ul li{
    list-style-type: none;
}
aside.categorias ul li a{
    text-decoration: none;
    color: grey;
}
article.producto{
    overflow: hidden;
    width: 30%;
    /*  background-color: aquamarine;*/
    float: left;
    margin-top: 20px;
    margin-left: 2.5%;
    height: 350px;
}
article.producto img:hover{
    filter: grayscale(80%);

}
article.producto img{
    width: 75%;
    height: 250px;
    margin-top: 30px;
    margin-left: 45px;
    margin-bottom: 18px;
}
article.producto span{
    margin-left: 43px;
    margin-right: 63px;
    margin-top: 25px;
}
article.producto a{
    text-decoration: none;
    background:salmon;
    width: 100px;
    height: 100px;
    border-radius:5px;
    color: white;
}
div.pie{
    background-color: gray;
    overflow: hidden;
}
div.uno{
    float: left;
}
.uno h6{
    color: white;
    margin-left: 40px;
    margin-top: 20px;
}
.uno ul li{
    list-style-type: none;
    color: white;
}
.uno ul li a{
    color: white;
}
.dos h6{
    color: white;
    margin-left: 40px;
    margin-top: 20px;
}
.dos ul li{
    list-style-type: none;
    color: white;
}
.dos ul li a{
    color: white;
}
.dos img{
    width: 30px;
    height: 30px;
    margin-left: 45px;
}
.dos input{
    margin-left: 40px;
    height: 20px;
}