*{
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
body{
    margin: 0;
    padding: 0;

}
/*menu barra*/
header.row.blanco {
    margin-top: 40px;
}
a.navbar-brand{
   margin-left: 30px;
}
div.collapse ul li{
    margin-left: 30px;
  }
  .divisor{
    background-color: white;
    width: 80%;
    }
.dropdown-item:hover{
background-color:#68ECA3;
}
.dropdown-item{
    color: white;
}
.btn{
    background: #68ECA3;
    border: 2px solid #68ECA3;
}
.list-group{
    margin-top: 20px;
}

/* estilo de los links de las preguntas*/

.titulo-faq{
    margin-top: 2%;
}
.banner-comprar img{
    width: 491px;
    height: 46px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.banner-mdp img{
    width: 491px;
    height: 46px;
    margin-top: 10px;
    margin-bottom: 10px;
}
section {
    text-align: justify;
    margin: 15px;
}.contenidofaq{
    margin-top:90px;
}
main section a{
    text-decoration: none;
    color: black;
}

main section a:hover{
    font-weight: 600;
    color:black
}

.linkcorreo{
    color: blue;
}
.linkcorreo:hover{
    color:blue;
}

/*footer*/
footer {
    margin-top: 100px;
    border-top: 1px dotted #a0a0a0;
}



 @media screen and (max-width: 768px) {

 #barr {
     display: none;
 }
.barra-menu {
    display: block;
  
}
#submit {
display: none;
;
}
#chango {
    display: none;
}
#map-goo {
    width: 100%;
}
.log-reg ul{
    display: none;
 }
.logo{
    margin-top:20px
}
   .contenidofaq{
       width: 90%;
       margin-left: 5%;
     
   }
 }
  
