*{
    box-sizing: border-box;
    font-family: 'PT Sans Narrow', sans-serif;
}
body{
    margin: 0;
    padding: 0;

}
 .container {
    margin-left: auto;
    margin-right: auto;
}
header.row.blanco {
    margin-top: 40px;
}

.cabecera{
    display: flex;
    height: 200px;
}

div.buscador{
    border: solid 1px grey;
    border-radius: 5px;
    margin-top: 20px;
    padding:0;
}
div.buscador input{
    border:0;
    width: 80%;
    border-radius: 5px;
    padding-left:0;  
}

div.buscador i{
    padding: 5px;
}


.logo img{
    width: 150px;
    height: 150px;
}
.log-reg ul{
    display: flex;
    justify-content: space-around;
}
.log-reg ul li{
    list-style-type: none;
}
.log-reg ul li a{
    color: gray;
    font-size: 13px;
}


.menu{
    padding: 20px;
}
nav{
    height: 50px;
}
.menu ul{
    overflow: hidden;
    background-color: black;
    height: 45px;
}
.menu ul li{
    float: left;
    width: 20%;
    list-style-type: none;
    margin-top: 10px;
}
.menu ul li a{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    
}

aside.categorias{
    margin-top: 30px;
    
}
aside.categorias ul li{
    list-style-type: none;
}
aside.categorias ul li a{
       color: grey;
}


article.producto{
    overflow: hidden;
    width: 30%;
    float: left;
    margin-top: 20px;
    margin-left: 2.5%;
    height: 350px;
}
article.producto img:hover{
    filter: grayscale(80%);

}
article.producto img{
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-left: 45px;
    margin-bottom: 18px;
}
article.producto span{
    margin-left: 40px;
    margin-right: 30px;
    font-size: 12px;
    
}
article.producto a{
    text-decoration: none;
    background: #68ECA3;
    width: 85px;
    height: 25px;
    border-radius:5px;
    color: white;
    border: 2px solid #68ECA3;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    margin-left: 105px;
}
article.producto a:hover{
    background: transparent;
    color: #68ECA3;
}
footer {
    margin-top: 40px;
}
div.pie{
    background-color: gray;
    overflow: hidden;
}
div.uno{
    float: left;
}
.uno h6{
    color: white;
    margin-left: 40px;
    margin-top: 20px;
}
.uno ul li{
    list-style-type: none;
    color: white;
}
.uno ul li a{
    color: white;
}
.dos h6{
    color: white;
    margin-left: 40px;
    margin-top: 20px;
}
.dos ul li{
    list-style-type: none;
    color: white;
}
.dos ul li a{
    color: white;
}
.dos img{
    width: 30px;
    height: 30px;
    margin-left: 45px;
}
.dos input{
    margin-left: 40px;
    height: 20px;
}
.fab fa-facebook{
    content: f39e;
    
  }
  
  
  .fab fa-instagram{
    content:f16d;
    
  }

.iconredes{
    width: 241px;
    padding-left: 50px;
}
.iconredes a {
    width: 30px;
    text-align: center;
    margin: 0px 10px 0px 10px;
    }
.barra-menu {
display: none;
}
#submit {
    background: transparent;
    color: orange;
    border: 2px solid orange;
    border-radius: 6px;
    width: 80%;
    }  

#submit:hover{
    background-color: orange;
    color: white;
}
/*
#masProductos {
    background: #68ECA3;
    width: 300px;
    height: 25px;
    border-radius:5px;
    color: white;
    border: 2px solid #68ECA3;
    display: inline-block;
    text-align: center;
    font-size: 13px;
}*/
    
@media screen and (max-width: 768px) {

 aside {
            display: none;
}
#barr {
    display: none;
}

.barra-menu {
    display: block;
   
}
#submit {
display: none;
}
#chango {
    display: none;
}

.log-reg ul li a{  
    display: none;
   
 }
 div.buscador input {
     width: 80%;
 }

 .log-reg ul{
    display: none;
 }
 article.producto span{
     font-size: 11px;
 }
    }

 